.DS_Store
*.cache.properties
*~
*.swp
*.orig
build.properties
.buildpath
.project
.settings
.settings/**/*
.externalToolBuilders
.externalToolBuilders/**/*
.vagrant/.vagrant
src/api.php
src/test.php
.vagrant/.vagrant
.vagrant/.vagrant
