<config>
    <modules>
        <Flagbit_ContentFromUrl>
            <version>0.1.0</version>
        </Flagbit_ContentFromUrl>
    </modules>
    
    <global>
    	<blocks>
    		<Flagbit_ContentFromUrl>
				<class>Flagbit_ContentFromUrl_Block</class>
			</Flagbit_ContentFromUrl>
    	</blocks>
    	<models>
    		<Flagbit_ContentFromUrl>
    			<class>Flagbit_ContentFromUrl_Model</class>
    		</Flagbit_ContentFromUrl>
   		</models>
        <helpers>
            <Flagbit_ContentFromUrl>
                <class>Flagbit_ContentFromUrl_Helper</class>
            </Flagbit_ContentFromUrl>
        </helpers>   		
    </global>
    
    <frontend>
		<routers>
			<Flagbit_ContentFromUrl>
				<use>standard</use>
				<args>
					<module>Flagbit_ContentFromUrl</module>
					<frontName>contentfromurl</frontName>
				</args>
			</Flagbit_ContentFromUrl>
		</routers>
	</frontend>
	
    <default>
    	<Flagbit_ContentFromUrl>
    		<menu>
				<urlshop_1>http://www.infinigate.de/index.php?id=5162&amp;type=98</urlshop_1>
			</menu>
    	</Flagbit_ContentFromUrl>
    </default>
 </config>