<?xml version="1.0"?>
<config>
    <sections>
    	<design translate="label" module="design">
    		<groups>
            	<options translate="label">
                    <label>Content From Url</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<contentfromurl translate="label">
                            <label>Content From Url</label>
                            <frontend_model>flagbit_contentfromurl/adminhtml_form_field_urls</frontend_model>
                            <backend_model>flagbit_contentfromurl/system_config_backend_urls</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                       </contentfromurl>
                    </fields>
                </options>    
            </groups>
    	</design>
    </sections>
</config>